@model Employee
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input asp-for="Address" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Department"></label>
    <input asp-for="Department.Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Gender"></label>
    <input asp-for="Gender" class="form-control" readonly />
</div>
<div class="form-group form-check">
    <input asp-for="IsActive" class="form-check-input" disabled />
    <label class="form-check-label" asp-for="IsActive"></label>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="HiringDate"></label>
    <input asp-for="HiringDate" class="form-control" readonly />
</div>