
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <h2>Check Your Inbox</h2>
            <p>
                We have sent you an email with a link to reset your password. Please check your inbox.
            </p>
        </div>
    </div>
</div>

